@import url("https://fonts.googleapis.com/css2?family=Faustina:wght@400;700&display=swap");

@font-face {
  font-family: "TT Commons";
  src: url("@/assets/fonts/tt-commons/TTCommons-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
