@import "@/assets/scss/variables/colors";
@import "@/assets/scss/variables/fonts";

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
  font-family: "TT Commons";
}

/* min body height */

body {
  min-height: 100vh;
  background-color: $background;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

//TODO : à placer dans le bon fichier
.title {
  font-size: 3em;
  font-weight: 600;
  margin: 0.5em;
}

.sub-title {
  font-size: 2em;
  font-weight: 500;
  margin: 0.5em;
}
